.menubar {
  &_wrapper {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      width: fit-content;
      position: relative;
      transition: all 0.2s ease-in-out;
      border-top: 2px solid transparent;
      svg {
        box-sizing: content-box;
        display: flex;
        height: 100%;
        width: 100%;
        width: 2.2rem;
        height: 2.2rem;
        cursor: pointer;
        transition: color 0.2s ease-out;

        &:hover {
          color: var(--cyan);
        }
      }
    }
  }
}
