.mp3-slider {
  -webkit-appearance: none;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: rgb(206, 206, 206);
    filter: drop-shadow(0px 5px 10px black);
    border-radius: 1000000000px;
  }
}
