.musicList {
  position: relative;
  padding: 0 20px;
  z-index: 2;

  .song {
    z-index: 2;
  }

  &::before {
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    border-left: 3px solid #aefff9;
    border-right: 3px solid #aefff9;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: -1;
  }

  &::after {
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    box-shadow: inset 0 200px 45px -165px rgb(0, 0, 0),
      inset 0 -200px 45px -165px rgb(0, 0, 0);
    pointer-events: none;
    z-index: 4;
  }

  ::-webkit-scrollbar {
    width: 8px;
    background-color: #4d4d4d;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #000000;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(161 161 170);
    border-radius: 5px;
    border: 2px solid #4d4d4d;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar-thumb:vertical {
    height: 30px;
  }
}
