.musicList {
  position: relative;
  padding: 0 20px;
  z-index: 2;

  .song {
    z-index: 2;
  }

  &::before {
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    border-left: 3px solid #aefff9;
    border-right: 3px solid #aefff9;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: -1;
  }

  &::after {
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: inset 0 200px 45px -165px rgb(0, 0, 0),
      inset 0 -200px 45px -165px rgb(0, 0, 0);
    pointer-events: none;
    z-index: 4;
  }
}
