@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow: #fff001;
  --cyan: rgb(34, 211, 238);
  --redLight: rgb(248, 113, 113);
  --toastify-font-family: '__Inter_e66fe9', '__Inter_Fallback_e66fe9' !important;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(30 41 59);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #000000;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(45, 62, 88);
  border: 2px solid rgb(30 41 59);
  border-radius: 20px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
}
