@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow: #fff001;
  --cyan: rgb(34, 211, 238);
  --redLight: rgb(248, 113, 113);
  --toastify-font-family: '__Inter_e66fe9', '__Inter_Fallback_e66fe9' !important;
}
