.box-shadow-left {
  box-shadow: -1rem 0px 1rem grey;
}

.box-shadow-inner {
  box-shadow: inset 0px 0px 1rem black;
}

.form-focus {
  input:focus ~ label,
  input:valid ~ label {
    top: -20px;
    font-size: small;
    color: rgb(175, 175, 175);
  }
}

.popUpFromBottom {
  bottom: 3%;
}

.active {
  &_menubar-link {
    transition: all 0.2s ease-in-out;
    color: var(--cyan);
    border-top: 2px solid var(--cyan) !important;
    filter: drop-shadow(0px 0px 10px var(--cyan));
  }
}
