.box-shadow-left {
  box-shadow: -1rem 0px 1rem grey;
}

.box-shadow-inner {
  box-shadow: inset 0px 0px 1rem black;
}

.form-focus {
  input:focus ~ label,
  input:valid ~ label {
    top: -20px;
    font-size: small;
    color: rgb(175, 175, 175);
  }
}
