.fade {
  &-enter {
    opacity: 0;
    scale: 0.9;
  }
  &-enter-active {
    opacity: 1;
    scale: 1;
  }
  &-exit {
    opacity: 1;
    scale: 1;
  }
  &-exit-active {
    opacity: 0;
    scale: 0.9;
  }
  &-enter-active,
  &-exit-active {
    transition: opacity 0.3s, scale 0.3s;
  }
}
